footer {
  background-color: rgb(55, 56, 55);
  margin-top: 800px;
  width: 100%;
  height: 110px;
}

.faixinha {
  background-image: linear-gradient(
    -90deg,
    rgb(86, 238, 88),
    rgb(16, 56, 14),
    green
  );
  margin-top: 790px;
  width: 100%;
  height: 7px;
}

.copyright {
  color: rgb(255, 255, 255);

  margin-top: 40px;
  margin-left: 100px;
  height: 50px;
  width: 150px;
  position: relative;
  float: left;
}

/* --------------------------------- pagina contato ---------------------- */
.content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 630px;
}

.contato {
  width: 100%;
  max-width: 500px;
}

.form {
  display: flex;
  flex-direction: column;
}

.field {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  height: 150px;
}

.botaoenviar {
  background-image: linear-gradient(-90deg, red, yellow, green);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.localizacao {
  margin-top: -384px;
  margin-left: 65px;
  width: 600px;
  height: 350px;
}

@media (min-width: 220px) and (max-width: 551px) {
  .localizacao {
    width: 300px;
  }
}

.redes-sociais {
  width: 20%;
  float: right;
  margin-right: 60px;
}

.footer-1 {
}

.redes-sociais ul li {
  margin-left: 15px;
  display: inline-block;
  float: left;
  list-style: none;
  margin-top: 30px;
}

.contentaaa {
  margin-top: 5px;
  margin-left: 70px;
  width: 400px;
  position: relative;
  float: left;
  height: 95px;
}

.colher {
  float: left;
  color: rgb(255, 251, 251);
  text-align: center;
}
