.header_1 {
    background-color: #d9d9d9;
    height: 160px;
}

.logo {
    height: 60px;
}

.redes_sociais {
    height: ;
}

.container {
    width: 100%;
}

.container_noticia {
    width: 15%;
    height: 20%;
    float: left;
    background-color: #437314;
    margin-left: 80px;


    padding: 10px;
}

.redes_sociais {
    margin-left: 900px;
}