/* ==== Google font ==== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');
body {
    width: 100%;
    height: 100%;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 300;
    color: #666;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 400;
}


/* ------- Navigation ------------ */

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    padding: 30px;
}

.navbar-fixed-top ul.nav li a {
    font-size: 14px;
    letter-spacing: 3px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-fixed-top.top-nav-collapse ul.nav li a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #fff;
}

.navbar-fixed-top ul.nav ul.dropdown-menu {
    border-radius: 0;
    margin-top: 21px;
    border-top: none;
}

.navbar-fixed-top ul.nav li a:hover ul.dropdown-menu {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.navbar-fixed-top ul.nav ul.dropdown-menu li:last-child {
    border-bottom: none;
}

.navbar-fixed-top ul.nav ul.dropdown-menu li a {
    padding: 10px 20px;
}

.navbar-fixed-top.top-nav-collapse ul.nav ul.dropdown-menu li a {
    color: #666;
}

.navbar-fixed-top .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-fixed-top .nav li a:hover,
.navbar-fixed-top .nav li a:focus,
.navbar-fixed-top.nav li.active {
    outline: 0;
    color: #2487cd;
}

.navbar-toggle {
    padding: 4px 12px;
    font-size: 18px;
    color: #000;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}


/* ------- Footer ------------ */

#footer {
    position: fixed;
    bottom: 0;
    display: flex;
    background: black;
    padding: 10px 10px 10px 190px;
}

.footer span {
    font-size: 1.1rem;
    font-weight: 300;
}